<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Evaluation Report"></Label>
</ActionBar>

<GridLayout class="page__content">
    <ScrollView height="95%" scrollBarIndicatorVisible="true">
        <StackLayout padding="20">
            <FlexboxLayout flexDirection="column">
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage to match requirements of the site" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageOne" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage to match external requirements" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageTwo" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage to match the requirement of the outer wall" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageThree" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage of matching the requirements of the fence" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageFour" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage of matched gates" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageFive" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage of matched positions clauses" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageSix" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage of matched reception building" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageSeven" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage of matched external service building" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageEight" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage of matched perimeter outside" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageNine" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage of matched indoor building" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageTen" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage of matching protection system and control rooms" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageEleven" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage to match the building and inspection procedures" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageTwelve" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #ba7253;" width="80%" flexDirection="row">
                            <Label text="Percentage for the matching and safety requirements" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="percentageThirteen" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout class="table" style="text-decoration: underline;text-decoration-color: white;"
                    flexDirection="column">
                    <FlexboxLayout style="color:black;" flexDirection="row">
                        <FlexboxLayout style="background: #34281b;color:white;" width="80%" flexDirection="row">
                            <Label text="Final percentage to match building insurance" fontWeight="normal"
                                textWrap="true"
                                style="text-decoration: none;text-decoration-color: white;font-size: 18; text-align: left;margin: 5;"></Label>
                        </FlexboxLayout>
                        <Label fontWeight="normal" width="20%" [text]="total" textWrap="true"
                            style="text-decoration: none;text-decoration-color: white;font-size: 18;text-align: right;margin-right: 1%;"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </FlexboxLayout>
            <!-- <FlexboxLayout style="color:black;margin-bottom:20;" flexDirection="row">
            <Label text="Q2. Evaluate the location of the building?" width="50%" fontWeight="bold" textWrap="true"
                style="text-decoration: none;text-decoration-color: white;font-size: 16; text-align: left;"></Label>
            <Label text="Coyier’s A Complete Guide to Flexbox, and it’s a great reference whenever you’re trying to figure out how to accomplish a task using flexbox. Flexbox Froggy is a fun interactive game that teaches the various flexbox properties and values. You may find it useful if you’re new to flexbox" width="50%" fontWeight="bold" textWrap="true"
                style="text-decoration: none;text-decoration-color: white;font-size: 16; text-align: left;"></Label>
        </FlexboxLayout> -->
        </StackLayout>
    </ScrollView>
    <!-- <FilterableListpicker #myfilter blur="dark" hintText="Type to filter..." [source]="listitems"  (itemTapped)="itemTapped($event)"></FilterableListpicker> -->
</GridLayout>